sensu:
  server:
    install_gems:
      - mail
      - timeout
  client:
    embedded_ruby: true
    nagios_plugins: true
  rabbitmq:
    host: 10.0.0.1
    user: sensu
    password: secret
  api:
    password: secret
  ssl:
    enable: True
    cert_pem: |
      < PUT CERTIFICATE HERE IF USING SLL >
    key_pem: |
      < PUT PRIVATE KEY HERE IF USING SLL >
  uchiwa:
    host: localhost
    loglevel: warn
    users:
      - username: bobby
        password: testy
        role:
          readonly: True
  sites:
    - name: 'Site 1'
      host: '1.1.1.1'
      user: bobby
      pass: secret
    - name: 'Site 2'
      host: 1.2.3.4
      user: nicky
      pass: secret
      ssl: True
  # Configurable path support.
  paths:
    plugins: monitoring/checks
    handlers: monitoring/handlers
